<div class="row">
    <div class="col-lg-6">
      <!-- <nb-card>
        <nb-card-header>Criar Documento</nb-card-header>
        <nb-card-body>
          <input type="text" nbInput fullWidth placeholder="Project">
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Nick">
            <input type="text" nbInput fullWidth placeholder="Last Name">
          </div>
          <input type="password" nbInput fullWidth placeholder="Password">
          <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea>
          <button type="submit" nbButton>Submit</button>
        </nb-card-body>
      </nb-card> -->
    </div>
    <p>{{ teste }}</p>
    <button (click)="trocarNome()">Trocar</button>
    <ul>
      <li *ngFor="let numero of arr"></li>
    </ul>
    <div class="col-lg-6">
    </div>
  </div>
